<div id="menu" inert>
	<nav class="menu-nav">
		<ul class="menu-gnav-list">
			<li>
				<a href="/medical/">医療機関の方へ</a>
				<ul class="drop">
					<li><a href="/medical/#medical-1">独自の医療連携システム</a></li>
					<li><a href="/medical/#medical-2">電話で検査予約</a></li>
					<li><a href="/medical/#medical-3">WEBで検査予約</a></li>
					<li><a href="/medical/#medical-4">検査依頼書ダウンロード</a></li>
					<li><a href="/medical/#medical-5">検査費用について</a></li>
				</ul>
			</li>
			<li>
				<a href="/about/">検査機器について</a>
				<ul class="drop">
					<li><a href="/about/#about-2">MRI</a></li>
					<li><a href="/about/#about-3">CT</a></li>
					<li><a href="/about/#about-5">骨密度</a></li>
					<li><a href="/about/#about-4">レントゲン</a></li>
				</ul>
			</li>
			<li>
				<a href="/brain/">脳ドック<span class="_oval">自費診療</span></a>
				<ul class="drop">
					<li><a href="/brain/#brain-1">脳ドックをおすすめする方</a></li>
					<li><a href="/brain/#brain-2">MVision healthについて</a></li>
					<li><a href="/brain/#brain-3">よくあるご質問</a></li>
					<li><a href="/brain/#brain-4">検査機器</a></li>
					<li><a href="/brain/#brain-5">検査費用について</a></li>
				</ul>
			</li>
			<li>
				<a href="/about/">画像診断クリニックについて</a>
				<ul class="drop">
					<li><a href="/about/#about-1">医師紹介</a></li>
					<li><a href="/about/#about-2">検査機器（MRI）</a></li>
					<li><a href="/about/#about-3">検査機器（CT）</a></li>
					<li><a href="/about/#about-4">検査機器（レントゲン）</a></li>
					<li><a href="/about/#about-5">検査機器（骨密度）</a></li>
				</ul>
			</li>
			<li><a href="/demo/">採用情報</a></li>
			<li><a href="/demo/">交通アクセス</a></li>
			<li><a href="/faq/">よくある質問</a></li>
		</ul>
		<div class="cont-mail">
			<p class="ttl">メールでのお問い合わせ</p>
			<a href="/contact/"><span>メールフォームはこちら</span></a>
		</div>
		<div class="cont-web">
			<p class="ttl">WEBで予約<span class="_oval">脳ドック</span></p>
			<a href="/contact/"><span>脳ドックご予約</span></a>
		</div>
		<div class="cont-tel">
			<p class="ttl">お電話でのお問い合わせ</p>
			<a href="tel:080-2506-1302">080-2506-1302</a>
			<p class="txt">開設準備室　担当者：天生</p>
		</div>
	</nav>
</div>
