//
// color
//

$color-black: #000;
$color-white: #FFF;
$color-gray: #DDD;
$color-light-gray: #F7F7F7;
$color-green: #4CA223;
$color-light-blue: #00A2E9;
$color-light-blue2: #E5EEF6;
$color-blue: #0057AA;