<%
const pageMeta = {
	title: 'GLSL最終課題',
	title_span: '',
	description: 'ホームページの説明',
	bodyClass: 'home',
	site: 'GLSLスクール'
};

%>
<%- include('_template/_header', { meta: pageMeta }) %>

<div class="canvas-container">
	<canvas id="webgl-canvas"></canvas> <!-- 1つのキャンバス -->
</div>

<section id="section01">
	<!-- 1つ目のWebGL描画エリア -->
</section>
<section id="section02">
	<!-- 2つ目のWebGL描画エリア -->
</section>

<ul id="sidenav">
	<li><a href="#section01">01</a></li>
	<li><a href="#section02">02</a></li>
</ul>

<%- include('_template/_footer', { meta: pageMeta }); %>
